<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estadisticas.component.css">
    <script src="java.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <title>Importancia y estadisticas</title>
</head>
<body>
    <button onclick="url()" id="backtomain" title="Volver a inicio">Volver a incio</button>
    
    <h1>estadisticas</h1>

    <nav class="navbar navbar-light justify-content-center"> 
        <a class="navbar-brand" href="index.html">
          Ciber Seguridad
        </a>
    </nav>

        <h2>Estadisticas</h2>
        <h4>En 2021, los ataques ciberneticos se clasisficaron como en 5to riesgo más alto y se convirtieron en un nuevo estandar en los sectores públicos y privados. <br>
            El delito cibernético aumentó en un 600% como resultado de la pandemia de COVID 19, desde robo y malversación hasta piratería y corrupción de datos. <br>
            Casi todas las industrias tuvieron que adoptar nuevas soluciones y obligar a las empresas a adaptarse rápidamente.
        </h4>


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">                       
                                  <h1>90%</h1>                                                      
                                  <p>De las organizaciones de salud han reportado al menos una brecha de ciberseguridad en los últimos tres años.</p>
                               
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">                               
                                  <h1>43%</h1>                                                    
                                  <p><br> De los ciberataques afectan a pequeños negocios  
                                  <br><br></p>                               
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">                               
                                  <h1>93%</h1> 
                                  <p>Del malware observado el año 2019 es polimórfico, es decir que es capaz de modificar su programación para evitar ser detectado.</p>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">                       
                                  <h1>91%</h1>                                                      
                                  <p><br>De empresas han aumentado sus costos en seguridad informática durante el 2021 <br></p>
                               
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">                               
                                  <h1>63%</h1>                                                    
                                  <p>De las intrusiones maliciosas en redes son resultado de datos de autenticación que han sido comprometidos en otros ciberataques. </p>                               
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">                               
                                  <h1>56%</h1> 
                                  <p>De las organizaciones identificaron al phishing como su mayor riesgo de seguridad informática, según una encuesta realizada a mas de 1300 profesionales de TI</p>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">                       
                                  <h1>91%</h1>                                                      
                                  <p>De los ataques comienzan con la técnica de spear phishing, que apunta a vulnerar correos e infectar organizaciones.</p>
                               
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">                               
                                  <h1>79%</h1>                                                    
                                  <p><br>Del total de incidentes, son causados por ataques de ramsomware.<br></p>                               
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">                               
                                  <h1>62,7%</h1> 
                                  <p>De las empresas creen que los ciberataques han aumentado desde el año 2020 debido a la pandemia de COVID-19.</p>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>


</body>
</html>
